.visitors-container {
  margin-top: 40px;
  max-width: none;
  width: 90%;
}

.left-visitor {
  width: 60%;
  min-height: 100px;
  align-items: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 0px;

  p {
    font-size: 18px;
  }

  h5 {

  font-weight: 600;
  font-size: 28px;
}
  }

.right-visitor {

  min-height: 100px;
  align-items: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: $peach;

  h3 {
  color: $porcelain;
  font-weight: 600;
}
  p {
    font-size: 16px;
    font-weight: 400;
    width: 500px;
  }
}

.right-visitor-outside {
  background-color: $peach;
  width: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 100%;

  border-radius: 16px;
}


 .gap-visitor {
  width: 2%;
  min-height: 100px;
}


#tagline {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;


}

.visitor-image {
  width: 500px;
  margin-top: -80px;
  padding: 0;
}
.copy p {
  width: 550px;
  margin-bottom: 0px;
  font-weight: 400;
}

.login-form {
    border-radius: 16px;
    background-color: $peach;
    padding: 10px 0px 10px 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    max-width: 70%;

}

.login-form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    ;
}

#visitor-form-field{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid $porcelain;
    border-radius: 8px;
    background-color: $porcelain;
}

.login-form .btn-primary {
    background-color: $lilac; /* Stylish coral for the button */
    color: $porcelain;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-form .btn-primary:hover {
    background-color: $blush; /* Darker shade for hover effect */
}




#signin-text {
  color: $porcelain
}
