

.teams-container {
  display: flex;
  margin: auto 20px;
  // background: $porcelain;
  // border-radius: 16px;
  // padding: 20px;
  // box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

/* === Team List === */
.team-list {
  width: 30%;
  padding: 20px;
  overflow-y: auto;
  background: $porcelain;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
   margin-top: 40px;
   margin-left: 30px;
}

.team-list ul {
 margin-top: 20px;
  list-style: none;
  padding: 0;
  background-color: $porcelain;
}

.team-list .add-button {
  margin-bottom: 20px;
  background-color: #F48C7F;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

.team-list li.team-member {
  margin-bottom: 10px;
  cursor: pointer;
}

.team-list .member-card {
  display: flex;
  background-color: $periwinkle;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.team-list .member-card:hover {
  background: $peach;
}

.team-list .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.team-list .name {
  font-weight: bold;
}

.team-list .position {
  font-size: 14px;
  color: #555;
}

/* === User Panel === */
.user-panel {
  width: 35%;
  padding: 40px;
}

.user-card {
  padding: 20px;
  border-radius: 12px;
  background-color: $porcelain;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.user-details-card h2 {
  margin: 12px 0 8px;
}

.user-details-card p {
  margin: 4px 0;
  font-size: 15px;
  color: $lilac;
  background-color: $porcelain;
}

.avatar-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 12px;
}

/* === Map Placeholder === */
.map-placeholder {
  width: 35%;
  height: 400px;
  margin-top: 40px;
  margin-right: 40px;
  background-color: #EEE;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* === Hidden Class === */
.hidden {
  display: none;
}
