/* MOODTRACKER LAYOUT */

.moodtracker-wrapper {
  position: relative;
  width: 1440px;
  height: 1024px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.moodtracker-container {
  display: flex;
  gap: 1rem;
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
}

.moodtracker-card {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background-color: $porcelain;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-right-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.top-right-toggle button {
  margin-left: 8px;
  padding: 8px 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.moodtracker-bar {
  // height: 40px;
  width: 100%;
  margin: 10px;
}

.happy-data-mtracker, .neutral-data-mtracker, .sad-data-mtracker {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.progress-bar {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.emoji-percentage {
  position: absolute;
  width: 100%;
  text-align: start;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $lilac;
  margin-top: 15px;
}

.progress {
  height: 35px;;
}

.comparison-data {
  margin-top: 50px;

}

.emoji-container-strip {
  margin-top: 20px;
}

#mood-title{
 margin: 20px;
}
