<div class="d-flex justify-content-evenly">
<ul style="list-style: none;">
  <% trends.each do |mood, text| %>
    <li class="mb-3">
      <h5> ЁЯМбя╕П <%= text %></h5>
    </li>
  <% end %>
</ul>
</div>
