<div class="emoji-strip-box">
  <div class="emoji-wrapper">
    <div class="emoji-container">
      <div class="emoji-circle-small">
        <p> <%= emojis[1][1] %> </p>
      </div>

      <div class="emoji-circle-large">
        <p> <%= emojis[0][1] %> </p>
      </div>

      <div class="emoji-circle-small">
        <p> <%= emojis[2][1] %> </p>
      </div>
    </div>

    <div id="curve">
      <%= image_tag "curve.png" %>
    </div>
  </div>
</div>
