<div class="position-relative mt-5" style="height: 90px;">
  <div class="position-relative bottom-0 start-0 w-100 bg-primary rounded-bottom"
       style="height: 40px; clip-path: ellipse(150% 100% at 50% -30%); z-index: 1;">
  </div>
  <div class="d-flex justify-content-center gap-5 position-absolute start-50 translate-middle-x" style="bottom: 30px; z-index: 2;">
    <div class="emoji-circle small"><%= emojis[1][1] %></div>
    <div class="emoji-circle large"><%= emojis[0][1] %></div>
    <div class="emoji-circle small"><%= emojis[2][1] %></div>
  </div>
</div>
