<div class="events-dash-box">
  <h5>UPCOMING EVENTS</h5>

  <% @events.each_with_index do |event, index| %>
    <% color_class = case index
      when 0, 2 then 'periwinkle-bg'
      when 1 then 'peach-bg'
    end %>

    <div class="event-post <%= color_class %>">
      <div class="event-info-dash">
        <div class="info-left">
          <% if event.start_date&.to_date&.cweek == Date.today.cweek && event.start_date.year == Date.today.year %>
            <p><%= event.start_date.strftime("%A %H:%M") %></p>
          <% else %>
            <p><%= event.start_date.strftime("%d %B %H:%M") %></p>
          <% end %>
        </div>

        <br>

        <div class="info-right">
          <p><%= event.event_name.upcase %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
