<% @suggestions = Suggestion.order(created_at: :desc) %>


    <h5 id="sugg-dash-h5">LATEST SUGGESTIONS</h5>
    <p id="warning-dash"> ❗️ Please be respectful and constructive in your suggestions. You will not be able to delete them after submitting. ❗️ </p>
      <div class='suggestions-main'>
        <% if @suggestions.any? %>
          <% @suggestions.take(4).each do |suggestion| %>
          <div class="suggestion-post">
             <%= render partial: "suggestions/suggestion", locals: { suggestion: suggestion } %>
            </div>
          <% end %>
        <% else %>
          <p>No suggestions have been made yet</p>
        <% end %>
      </div>
