
<% @suggestions = Suggestion.order(created_at: :desc) %>


<div class="container" style="width: 95%;">

  <div class='d-flex justify-content-between'>
    <div class='left'>
      <div class='suggestions-main'>
        <% if @suggestions.any? %>
          <% @suggestions.each do |suggestion| %>
          <div class="suggestion-post">
            <%= render partial: "suggestions/suggestion", locals: { suggestion: suggestion } %>
            </div>
          <% end %>
        <% else %>
          <p>No suggestions have been made yet</p>
        <% end %>
      </div>
    </div>

    <div class='gap'></div>

    <div class='right'>

      <div class="suggestion-form">
      <p id="warning"> ❗️ Please be respectful and constructive in your suggestions. You will not be able to delete them after submitting. ❗️ </p>
        <%= simple_form_for(Suggestion.new) do |f| %>
        <div class=suggestion-container">
          <%= f.text_area :suggestion, placeholder: "Type your suggestion here... It will be anonymous", label: false, class: "suggestion-textbox" %>
         <%= button_tag '<i class="fa-solid fa-paper-plane"></i>'.html_safe, type: "submit", class: "button-suggestion-send" %>
        </div>


        <% end %>

      </div>
    </div>
  </div>
</div>
