
<% @suggestions = Suggestion.order(created_at: :desc) %>


<div class="container" style="width: 95%;">

  <div class='d-flex justify-content-between'>
    <div class='left'>
      <div class='suggestions-main'>
        <% if @suggestions.any? %>
          <% @suggestions.each do |suggestion| %>
          <div class="suggestion-post">
            <%= render partial: "suggestions/suggestion", locals: { suggestion: suggestion } %>
            </div>
          <% end %>
        <% else %>
          <p>No suggestions have been made yet</p>
        <% end %>
      </div>
    </div>

    <div class='gap'></div>

    <div class='right'>
      <div class="suggestion-form">
        <%= simple_form_for(Suggestion.new) do |f| %>
          <%= f.input :suggestion, placeholder: "Type your suggestion here..." %>
          <%= f.button :submit, "Send suggestion", class: "btn button-accept" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
