<div>
  <%= simple_form_for @moodtracker do |f| %>
    <%= f.input :comment, placeholder: "Tell us more..." %>
    <%= f.button :submit, "NEXT", class: "btn btn-success mt-3" %>
  <% end %>
<%= link_to "CANCEL", root_path, class: "btn btn-outline-secondary" %>
</div>
