<div id="welcomeModal">
  <%= render 'shared/open_mood_modal' %>
</div>

<% if @show_mood_modal %>
<script>
  document.addEventListener('turbo:load', () => {
    const modalElement = document.getElementById('exampleModalToggle');
    if (modalElement) {
      const modal = new bootstrap.Modal(modalElement);
      modal.show();
    }
  });
</script>
<% end %>
