<%# <% if current_user.admin? %> 
<%# <%= render "shared/admin_moodtrshow" %>
<%# <% else %>
  <div class="container" id="mood-cards">
    <%= render "mymood_card" %>
    <%= render "teammood_card" %>
    <%= render "shared/companymood_card" %>
  </div>
<%# <% end %>
