<div class="container">
  <div class="dash-wrapper">

    <div class="dash-left">
      <div class="card-mood-dash">
        <div class="my-mood-render">

          <%= render "shared/mood_card_all",  title: "MY MOOD", data: @percentage, emojis: @percentage[:emojis], trends: @user_trends %>

        </div>
      </div>

      <div class="dash-events">
        <%= render "shared/events_dashboard" %>
      </div>
    </div>

    <div class="dash-gap"></div>

    <div class="dash-right">
      <div class="dash-sugg-board">
        <%= render "shared/sugg_board_dashboard" %>
      </div>
    </div>

  </div>
</div>
