.emoji-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CCCCFF;
  border-radius: 50%;
  font-size: 2rem;
  width: 56px;
  height: 56px;
  margin-top: -55px;
}

.emoji-circle.large {
  font-size: 3rem;
  width: 72px;
  height: 72px;
  margin-top: -55px;
}
