.mood-bar {
  align-items: center;
  width: 100%;
  text-align: center;
  height: 50px;
  flex-direction: row;
  border-top: solid 2px #62566f74;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.companymood-box {
    display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  background-image: linear-gradient(to right, $periwinkle, $periwinkle, $red, $red);

  p {
    font-size: 22px;
    font-weight: 600;
    color: $porcelain;
    text-align: left;
    margin: 0;

  }
}

.teammood-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  background-image: linear-gradient(to right, $periwinkle, $periwinkle, $yellow, $yellow);


  p {
    font-size: 22px;
    font-weight: 600;
    color: $porcelain;
    text-align: left;
    margin: 0;

  }
}

.red {
  background-image: linear-gradient(to right, $periwinkle, $red);
}

.yellow {
  background-image: linear-gradient(to right, $periwinkle, $yellow);
}

.green {
  background-image: linear-gradient(to right, $periwinkle, $green);
}

#team-emoji, #company-emoji {
  margin-left: 30px;
  font-size: 28px;
}
