.chatbot {
  background: $porcelain;
  margin-top: 9px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;


  #questions {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  .question {
    display: flex;
    flex-direction: column;
  }

  .user-question, .ai-answer {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .user-question {
    align-self: flex-end;
    background: $gray-200;
  }

  .ai-answer{
    align-self: flex-start;
    background: $periwinkle;
    color: $lilac;
  }

  #chatform{
    height: 100%;
    margin-bottom: 0;
  }

  #new_question {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;

    }
  }

  #question_user_question{
    margin-bottom: 0px;
    background-color: #ccccff76;
    border: none;
  }

  #question_user_question:focus {
  outline: none;
  border: none;
  box-shadow: none;
  }

  #new-question-button{
    color: $porcelain;
    font-size: 16px;
    background-color: $peach;
    font-weight: 700;

    &:hover {
      background-color: $blush;
    }

  }
}
