.container {
  margin-top: 40px;
}

.d-flex {
  height: 100%;
  margin: auto;
}

.left {
  background-color: $porcelain;
  width: 69%;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.right {

  width: 29%;
  border-radius: 16px;
}

.gap {
  width: 2%;
}

.suggestions-post {
  background-color: $periwinkle;
}
