.suggestion-box {
  margin: 20px;
  padding: 10px;
}

.date-comments {
margin-left: -10px;
}
.date-comments p{
  margin-right: 10px;
}

.actioned {
scale: 150%;
}



.actioned {
  .btn{

    &:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    }
  }
}

#comments-container {
  background-color: $porcelain;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.info-bar {
    align-items: flex-start;

}
