.container {
  margin-top: 40px;

}

// .d-flex {
//   height: 100%;
//   margin: auto;
// }

.left {
  background-color: $porcelain;
  width: 69%;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  height: 550px;
  overflow: scroll;
}

.right {

  width: 29%;
  border-radius: 16px;
}

.gap {
  width: 2%;
}

.suggestion-post {
  background-color: $periwinkle;
  margin: 10px;
  border-radius: 8px;
}

.info-bar {

}
