.suggestion-box {
  margin: 20px;
  padding: 10px;
}

.date-comments p{
  margin-right: 10px;
}

.actioned {
scale: 150%;
}



.actioned {
  .btn{

    &:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    }
  }
}
