.container {

  margin-top: 40px;
}

.d-flex {
  height: 200px;
  margin: auto;
}

.left {
  background-color: red;
  width: 69%;
  border-radius: 16px;
}

.right {
  background-color: blue;
  width: 29%;
  border-radius: 16px;
}

.gap {
  width: 2%;
}
