   #sugg-dash-h5{
    font-weight: bold;
    text-align: left;
    color: $lilac;
  }


#warning-dash {
  color: $lilac;
  font-size: 10px;
  font-weight: 600;
  background-color: #ffba9753;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
}
