simple-calendar tbody tr {
  background-color: #FDF9F8;
}

.new-event-indicator {
    width: auto;
    height: 20px;
    background-color: #CCCCFF;
    border: none;
    border-radius: 8px;
    display: flex;
    place-items: center;
    padding: 4px;
    margin: 5px 0px;
    max-width: 75px;

    p {
      font-size: 12px;
      margin: 0;
    }
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 75px;
  }

  .simple-calendar {

    color: #62566F;

    tbody {
      border: 2px purple solid;
      font-size: 18px;
      font-weight: 600;

    }

    th {
      color: #62566F;
    }

    td {
      border: 2px rgb(255, 145, 55) solid;
      background-color: #FDF9F8;
      color: #62566F;
      width: 80px !important;
      height: 80px !important;
      max-width: 80px;
      max-height: 80px;
      overflow: hidden;
    }

    th {
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }

