.simple-calendar {
  color: #62566F;

  table {
    max-width: 60%;
    height: 300px;
    margin-left: 20px;
    border-radius: 10%;
  }

  th {
    padding: 10px;
    text-align: center;
    color: #62566F;
    font-size: 20px;
  }

  td {
    padding: 6px;
    border: 1px solid #62566f2e;
    width: 80px !important;
    height: 80px !important;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap; /* Prevents text wrapping */
    display: table-cell; /* Ensures strict table behavior */
    vertical-align: top;
  }

  #new-event-indicator {
    width: 80px;
    height: 30px;
    background-color: #CCCCFF;
    border: none;
    border-radius: 8px;
    display: grid;
    place-items: center;

    p {
      font-size: 9px;
      margin: 0;
    }
  }

  .card-calendar-body {
  width: 80px !important;
  height: 80px !important;
  }

  .calendar-title {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 600;
  }

  .nav .month-navs {
   p {
    color: #62566F;
    font-size: 24px;
    font-weight: 600;
    }
  }

  .calendar-heading nav {
    display: inline-block;
  }

  .today {
    border: 3px solid #CCCCFF;
  }

  .prev-month {
    background: #ffba974b;
  }

  .next-month {
    background: #ffba974b;
  }
}
