.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(229, 103, 103, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 60%;
    height: 300px;
    margin-left: 20px;
    border-radius: 10%;
  }

  th {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid rgba(#62566F, 0.2);
  }

  .calendar-heading nav {
    display: inline-block;
  }

  .day {
    height: 80px; width: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #FFB997;
  }
  .next-month {
    background: #FFB997;
  }
  .current-month {}

  .has-events {}
}
