// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "simple_calendar";
@import "pages/moodtracker";
@import "pages/dashboard";








tml, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




body {
  background-color: $porcelain;
}


.hidden {
  display: none;
}

a{
  text-decoration: none;
}

.button-cancel{
  background-color: $lilac;
  color: $porcelain;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  min-width: 120px;
  max-width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    scale: 102%;
  }
}


.button-accept{
  background-color: $peach;
  color: $porcelain;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  min-width: 120px;
  max-width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;


  &:hover{
    scale: 102%;
    background-color: $peach;
    color: $porcelain;
  }
}
